<div class="container mt-4">
  <h1>Registration</h1>

  <p><strong>User:</strong> <%= @registration.user.name %></p>
  <p><strong>Event:</strong> <%= @registration.event.title %></p>
  <p><strong>Status:</strong> <%= @registration.status %></p>
  <p><strong>Date:</strong> <%= @registration.registered_at %></p>
</div>