<div class="container mt-4">
  <h1>Review</h1>

  <p><strong>User:</strong> <%= @review.user.name %></p>
  <p><strong>Event:</strong> <%= @review.event.title %></p>
  <p><strong>Rating:</strong> <%= @review.rating %></p>
  <p><strong>Comment:</strong> <%= @review.comment %></p>
</div>